body{
}


.fondo{
	background-image: url('../assets/Puerquimica1.png');
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	opacity: .3;
	position:fixed;
	height: 100%;
	width: auto;
	margin-left:12%;

}

.container{
	z-index: 1;
}

collapsible-body{
    background-color: #fff;
    color: #fff;
}

img{
	width:100%;
    height: auto;
    background-color: #fff
}

.logo{
	max-width: 15%;

}

.collapsible-header{
	padding-right: 0;
	margin-right: 0;
}

.left{
	width:50%;
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: flex-start; /* Safari 6.1+ */
    display: flex;
    justify-content: flex-start;
}

.right{
	width:50%;
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: flex-end; /* Safari 6.1+ */
    display: flex;
    justify-content: flex-end;
}

.open{
	transform:translateY(-5px);
	transform:rotate(180deg);
	animation-name: iconOpen;
	animation-duration: .3s;
}

.closed{
	animation-name: iconClose;
	animation-duration: .3s;
}

@keyframes iconOpen{
	from{transform: translateY(0px); transform: rotate(0deg); }
	to{transform: translateY(-5px); transform: rotate(180deg); }
}

@keyframes iconClose{
	from{transform: translateY(-5px); transform: rotate(180deg); }
	to{transform: translateY(0px); transform: rotate(0deg); }
}


@keyframes sidenavAnimOpen{
	from{transform: translateX(300%);}
	to{transform: translateX(200%);}
}

@keyframes sidenavAnimClose{
	from{transform: translateX(200%);}
	to{transform: translateX(300%);}
}

.sideNav{
	padding: 10px;
	position: absolute;
	z-index: 9;
	width: 35%; 
	height: 100%; 
	background-color: #fff;
	overflow: auto;
	box-shadow: -5px 0px 10px 1px #aaaaaa;
}

.openS{
	/*transform: translateX(0%);*/
	transform: translateX(200%);
	animation-name: sidenavAnimOpen;
	animation-duration: .3s;
}

#logout {
	display: none;
}

.closedS{
	transform: translateX(300%);
	animation-name: sidenavAnimClose;
	animation-duration: .3s;
}

.okbtn {
	background-color: #1b5e20  ;
}

@media only screen and (max-width:600px){

	.okbtn {
		
	}

	.fondo{
		width: 100%;
		height: auto;
		margin-left: 0;
		padding-top: 30%;
		padding-right: 5%;
	}
	.sideNav {
		width: 100%;
	}

	.openS {
		transform: translateX(0%);
	}

	.closedS {
		transform: translateX(100%);
	}

	@keyframes sidenavAnimOpen{
	from{transform: translateX(100%);}
	to{transform: translateX(0%);}
}

@keyframes sidenavAnimClose{
	from{transform: translateX(0%);}
	to{transform: translateX(100%);}
}
}